<html>
    <head>

    </head>
    <body>
        <div id="start">
            <br><br>
            <br><br>
            <h1>Agrar Aktionen</h1>
            <br><br>
        </div>

        <table id="item" >
            <thead>
                <tr>
                    <th>Bild</th>
                    <th>Artikelbezeichnung</th>
                    <th>Beschreibungsfeld</th>
                </tr>
            </thead>
            <tbody>
                
                    <td><img src={{item.bildLink}}></td>
                    <td>{{item.artikelbezeichnung}}</td>
                    <td>{{item.beschreibungsfeld}}</td>
             
            </tbody>
        </table>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
    </body>
    
</html>